/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/montserrat-v31-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/montserrat-v31-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-flex-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/google-sans-flex-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/google-sans-flex-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/google-sans-flex-v21-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

header {
    width: 100%;
    height: 80px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 40px;
        height: auto;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

main {
    background-color: #EAEEE6;
    padding: 4rem max(1rem, calc(50% - 720px));

}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.book-card {
    width: 288px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 32px;
    background-color: #FAFFF3;
    overflow: hidden;

    .product-details,
    .user-comments {
    width: 100%;
    padding: 1rem;
    }

    h3 {
        padding: 8px;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: left;
    }

    .product-img {
        width: 100%;
        height: 288px;
        padding: 2rem;
        object-fit: contain;
        background-color: #fff;
        border-bottom: 1px solid #D7DAD4;
    }

    .divider {
        width: 100%;
        margin: 0;
        border: none;
        border-top: 1px solid #D7DAD4;
    }

    .product-author { 
        font-weight: 600; 
    }

    .cont-like-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .send-btn {
        width: 48px;
        height: 48px;
        background-color: #090909;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
        }

    }
        .form-comments {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

    .like-heart-btn {
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;

    img {
        width: 32px;
        height: 32px;
        display: block;
    }
    }
    .like-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

footer {
    width: 100%;
    height: 80px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 24px;
        height: auto;
    }

        span {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
