/* ===== FONTS ===== */

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}
/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/montserrat-v31-latin-600.woff2') format('woff2');
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}
/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/montserrat-v31-latin-800.woff2') format('woff2');
}

/* google-sans-flex-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Google Sans Flex';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/google-sans-flex-v21-latin-regular.woff2') format('woff2');
}
/* google-sans-flex-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Google Sans Flex';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/google-sans-flex-v21-latin-600.woff2') format('woff2');
}
/* google-sans-flex-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Google Sans Flex';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/google-sans-flex-v21-latin-700.woff2') format('woff2');
}
/* google-sans-flex-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Google Sans Flex';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/google-sans-flex-v21-latin-800.woff2') format('woff2');
}

/* ===== RESET ===== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #090909;
}

/* ===== HEADER ===== */

header {
    width: 100%;
    height: 80px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 40px;
        height: auto;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

/* ===== MAIN ===== */

main {
    background-color: #EAEEE6;
    padding: 4rem max(1rem, calc(50% - 720px));

    h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/* ===== BOOK CARD ===== */

.book-card {
    width: 288px;
    height: 640px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 32px;
    background-color: #FAFFF3;
    overflow: hidden;

    .container-product {
    width: 100%;
    flex: 1;
    }

    h3 {
        padding: 1rem 1rem 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: left;
    }

    .product-img {
        width: 100%;
        height: 244px;
        padding: 1rem;
        object-fit: contain;
        background-color: #fff;
        border-bottom: 1px solid #D7DAD4;
    }

    .product-details {
        width: 100%;
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 16px;

        p {
            padding-bottom: 0.25rem;
        }
    }

    .product-author {
        font-weight: 600;
    }

    .divider {
        width: 100%;
        margin: 0.5rem 0;
        border: none;
        border-top: 1px solid #D7DAD4;
    }

    .cont-like-price {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .like-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .like-heart-btn {
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            display: block;
        }
    }

    .comments {
        font-family: inherit;
        font-size: 1rem;
        color: #090909;
        margin-bottom: 1rem;
    }

    .comments-name {
        font-weight: 600;
    }

    .user-comments {
        width: 100%;
        height: 120px;
        overflow-y: auto;
        margin-top: 0.5rem;
        padding: 0.75rem;
        background-color: #EBF2E5;
        border-radius: 0.5rem;
    }

    .form-comment {
        padding: 0 1rem 1rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        input {
            width: 190px;
            height: 40px;
            padding: 0.75rem;
            font-family: inherit;
            font-size: 1rem;
            border-radius: 8px;
            border: 1px solid #EBF2E5;
        }

        input::placeholder {
            color: #585955;
        }
    }

    .send-btn {
        width: 48px;
        height: 48px;
        background-color: #090909;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

/* ===== FOOTER ===== */

footer {
    width: 100%;
    height: 80px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 24px;
        height: auto;
    }

    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}